.categories-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.categories-label {
  align-items: center;
  display: flex;
  width: 100px;
  word-break: break-all;
}

.categories-input {
  margin-right: 5px;
}
