.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.card-display {
  color: black;
  margin: 10px;
  text-align: center;
}

.card-display:hover {
  color: black;
  text-decoration: none;
}

.card-img {
  width: 100px;
}
